#drawingboard {
    height:400px;
    width:400px;
    border: 1px solid #eeeeee;
    margin:0 -10px 0 -10px;
}

#drawingboardDiv {
    text-align:center;
}

div.top-menu-item {
    border: 5px solid #efefef;
    background-color:  #eeeeee;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.wordOption {
    width:100px;
    height:100px;
    border: 1px solid #eeeeee;
}