#canvas {
    height:400px;
    width:400px;
    border: 5px solid #eeeeee;
    margin:10px auto 0 auto;
}

#canvasDiv {
    text-align:center;
}

span.top-menu-item {
    border: 5px solid #efefef;
    background-color:  #eeeeee;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    width:45%;
}

#top-menu {
    text-align: center;
}

.wordOption {
    border: 2px solid #eeeeee;
    display:inline;
}

#selectWord {
    
    text-align:left;
}

#outText {
}

.tri1 {
    float: left;
    width:30vw;
}

.tri2 {
    width:30vw;
    display:inline-block;
}

.tri3 {
    width:35vw;
    float: right;
}